<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="histudio"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="HI Studio"
            name="HI Studio">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
         <property
                name="startupMessageRect"
                value="7,220,441,20"/>
         <property
                name="startupProgressRect"
                value="0,280,455,15"/>
         <property
               name="windowImages"
               value="icons/project.png"/>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="aboutImage"
               value="icons/sword_lg.gif">
         </property>
               
      </product>
   </extension>

</plugin>
