<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="dialects" name="dialects" schema="schema/dialects.exsd"/>
   <extension-point id="generators" name="generators" schema="schema/generators.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.hi.studio.hsceditor.visual.editor.VisualDBEditor"
            contributorClass="org.hi.studio.hsceditor.visual.editor.VisualDBEditorContributor"
            default="true"
            extensions="hmc"
            icon="icons/table.gif"
            id="org.hi.studio.hsceditor.editor"
            name="HMC"/>
   </extension>
    <!-- 
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.hi.studio.project.wizard"
            class="org.hi.studio.hsceditor.wizard.NewDiagramWizard"
            icon="icons/table.gif"
            id="org.hi.studio.hsceditor.newDiagramWizard"
            name="新建hsc文件"/>
   </extension>
   -->
   <extension
         point="org.hi.studio.hsceditor.dialects">
      <dialect
            class="org.hi.studio.hsceditor.dialect.HsqldbDialect"
            name="hsqldb"/>
	  <dialect
            class="org.hi.studio.hsceditor.dialect.DerbyDialect"
            name="Derby"/>
	  <dialect
	        class="org.hi.studio.hsceditor.dialect.MySQLDialect"
	        name="MySQL"/>
	  <dialect
	        class="org.hi.studio.hsceditor.dialect.PostgreSQLDialect"
	        name="PostgreSQL"/>
	  <dialect
	        class="org.hi.studio.hsceditor.dialect.OracleDialect"
	        name="Oracle"/>
	  <dialect
	        class="org.hi.studio.hsceditor.dialect.HiDialect"
	        name="HI平台"/>
   </extension>
   <extension
         point="org.hi.studio.hsceditor.generators">
         <!--
      <generator
            class="org.hi.studio.hsceditor.visual.generate.DDLGenerater">
      </generator>
      <generator
            class="org.hi.studio.hsceditor.visual.generate.HTMLGenerator">
      </generator>
      <generator
            class="org.hi.studio.hsceditor.visual.generate.ExcelGenerator">
      </generator>
      -->
      <generator
            class="org.hi.studio.hsceditor.visual.generate.HiServiceGenerator">
      </generator>
   </extension>
   
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.hi.studio.hsceditor.preference.ERDPreferencePage"
            name="hi"
            id="org.hi.studio.hsceditor.preference.ERDPreferencePage"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.hi.studio.hsceditor.preference.DBPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
