body {
	padding: 0;
	margin: 0;
}
a:link {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;
}
a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	color: #93B4E6;
	text-decoration: none;
}
#LoginHead {
	height: 50px;
	line-height: 50px;
	background-image: url(../images/logintop_bg.gif);
	background-repeat: repeat-x;
}
#LoginBody {
	border-bottom: 1px solid #FFF;
	height: 100%;
	background-color:#3079A2;
	background-image: url(../images/loginbig_bg.gif);
	background-repeat: repeat-x;
}

#LoginFoot {
	text-align:center;
	background: #1E2C49;
}
#CopyRight {
	margin: 0 auto;
	color: #DDD;
	font-size: 12px;
	font-style: normal;
	line-height: 300%;
}

#LoginImage div {
	height: 350px; 
	width: 500px; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.png', sizingMethod='scale');
}




#loginForm {
	margin: 0px 0px 0 20px;
}

#loginForm table {
	font: normal 14px '����';
	color: #FFF;
}

#loginForm label {
	padding-left: 3px;
}

#loginForm input {
	font: normal 14px '����';
	border: 1px solid #000;
	height: 22px;
	padding-left: 2px;
}

#loginForm input:focus {
	border: 1px solid #FE8101;
}

#loginForm button {
	margin: 0;
	padding: 0;
	border: none;
	background: transparent; 
	width: 222px;
}

.TopHead {
	background-image: url(../images/topbackground.gif);
	background-repeat: repeat-x;
}
.TopBottom {
	background-color: #0857cd;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #d5d2d3;
	line-height: 25px;
}
.TopBottomText {
	font-size: 12px;
	color: #FFFFFF;
	margin-left: 3px;
}

.ListTable {
 border:solid 1px #ccc;
 background:#eee; 
 width:100%;
 font-size:12;
}

.ListTableHeader{
background:#eee;
}

.ListTableBody{
background:#fff;
}

.SearchFromTR
{
border:solid 1px #ccc;
}

.SearchFromTDLabel{
font-size:12;

}
.ListTablePageInfo{
font-size:12;
}

.EditTable{
 border:solid 1px #ccc;
 background:#eee; 
 width:100%;
 font-size:12;
}

.EditTableTDLabel{
 border:solid 1px #ccc;
 
 font-size:12;
}

.EditTableTDData{
 border:solid 1px #ccc;
 font-size:12;
}

.EditDetailTable{
 font-size:12;
}


.EditTableTDKeyLabel{
  FONT-SIZE: 12;
  COLOR: red;
   
}

.SearchText{
  FONT-SIZE: 12;
  COLOR: blue;
}
